{% extends 'layout.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>IndexController::indexAction</h1>
    <p>twig template: indexAction.html.twig</p>
    <p>clientIP: {{ clientIP }}</p>
    <p>URI params: 
        <ul>
        {% for key,value in uriParamsArr %}
            <li>'{{ value }}'</li>
        {% endfor %}
        </ul>
    </p>
    <p>query params: 
        <ul>
        {% for key,value in queryParamsArr %}
            <li>'{{ key }}'='{{ value }}'</li>
        {% endfor %}
        </ul>
    </p>
{% endblock %}